html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* Form CSS */
.elementor-select-wrapper .select-caret-down-wrapper svg {
  height: 40px !important;
  /*       color: white; */
  margin-left: -20px;
}
/* Button CSS */
.skew-btn {
  & {
    .elementor-button-icon svg {
      width: 56px;
    }
    .elementor-button-content-wrapper {
      align-items: center;
    }
    .elementor-button-icon {
      display: flex;
    }
    .elementor-button {
      transform: skewX(12deg);
      transition: all 0.3s;
    }
    .elementor-button-text {
      transform: skewX(-12deg);
      transition: all 0.3s;
    }
  }
}

.elementor-button:hover {
  transform: skewX(0deg);
  & {
    .elementor-button-text {
      transform: skewX(0deg);
    }
  }
}
